header {
  color: #FFFFFF;
  background-color:  	#fb6900;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

#no-float {
  position: static;
  width: inherit;
}

.links {
  display: flex;
  margin-bottom: 6px;
  margin-right: 20px;
}

.links a {
  padding: 0px 10px;
  color: #FFFFFF;
  text-decoration: none;
}

.links a:link {
  color: #FFFFFF;
}

.links a:visited {
  color: #FFFFFF;
}

.links a:hover {
  text-decoration: underline;
}

.links a:active {
  color: #FFFFFF;
} 

section {
  height: 100vh;
}

section summary {
  width: 900px;
  margin: auto;
}

section h1 {
  background-color: #FFFFFF;
  display: inline-block;
  margin-top: 100px;
  padding: 10px;
  font-size: 30px;
}

#about {
  background-color: #0092FB;
}

#about h1 {
  color: #0092FB;
}

#products {
  background-color: #00b9bd;
}

#products h1 {
  color: #00b9bd;
}

#contact {
  background-color: #6900FB;
}

#contact h1 {
  color: #6900FB;
}